@model IEnumerable<IndianArmyWeb.View_Models.UserActivityVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">List of Page (s)</h5>
        <div class="pull-right">
        </div>
        <table class="mb-0 table table-hover table-bordered tab w-100" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Url)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IpAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityDate)
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IpAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ActivityDate)
                        </td>
                        @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ActivityId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ActivityId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ActivityId })
                        </td>*@
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
    LoadJDT('#myTable');

    function Delete(id, event) {
        var TableId = "#myTable";
        var Jsonurl = '@Url.Action("DeleteOnConfirm")';
        DeleteJDTRow(id, event, TableId, Jsonurl)
    }
    </script>
}
