@model IEnumerable<IndianArmyWeb.Areas.cpanel.View_Models.MediaCategoryMasterVM>

@{
    ViewBag.Title = "List of Media Category";
}

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">List of Media Category (s)</h5>
        <div class="pull-right">
            <a href="@Url.Action("Create","MediaCategoryMaster")" class="btn-shadow mb-3 mt-0 btn btn-primary">Create Media Category</a>
        </div>
        <table class="mb-0 table table-hover table-bordered tab w-100" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MediaCategoryName)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MediaCategoryName)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.MediaCategoryId })"><i class="fa fa-edit"></i></a>
                        <button type="button" class="btn btn-transparent red btn-xs" onclick="Delete(@item.MediaCategoryId, this)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script>
    LoadJDT('#myTable');

    function Delete(id, event) {
        var TableId = "#myTable";
        var Jsonurl = '@Url.Action("DeleteOnConfirm")';
        DeleteJDTRow(id, event, TableId, Jsonurl)
    }
    </script>
}
