@model IEnumerable<IndianArmyWeb.Areas.cpanel.View_Models.NewsArticleIndxVM>

@{
    ViewBag.Title = "List of News Articles";
}

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">List of News Article (s)</h5>
        <div class="pull-right">
            <a href="@Url.Action("Create","NewsArticle")" class="btn-shadow mb-3 mt-0 btn btn-primary">Create News Article</a>
        </div>
        <table class="mb-0 table table-hover table-bordered tab w-100" id="myTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NewsCategory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Headline)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PublishDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ArchiveDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Archive)
                    </th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewsCategory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Headline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArchiveDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Archive)
                        </td>
                        
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.NewsArticleId })"><i class="fa fa-edit"></i></a>
                            <button type="button" class="btn btn-transparent red btn-xs" onclick="Delete(@item.NewsArticleId, this)"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script>
    LoadJDT('#myTable');

    function Delete(id, event) {
        var TableId = "#myTable";
        var Jsonurl = '@Url.Action("DeleteOnConfirm")';
        DeleteJDTRow(id, event, TableId, Jsonurl)
    }
    </script>
}
